
<div class="card">
  <img src="https://img.favpng.com/10/19/1/silhouette-icon-png-favpng-peFPUDNWBU7CzhbGQ8QymdcX2.jpg"  style="width:100%">
  <div class="container" *ngFor = "let data of userInfo">
      <h2>{{data.id}}</h2>
    <h5>Name :<b> {{data.name}}</b></h5> 
    <h6>Email Address : <b>{{data.email}}</b> </h6>
    <h6>Contact Number: <b>{{data.phone}}</b></h6>
    <br>
  </div>
  <div class= "btnstyle">
        <button  [routerLink] ="['/dashboard']" type="button" class="btn btn-info btn-block-sm"> Back </button> 
  </div>
</div>

